#cave-text {
    cursor: pointer;
    user-select: all;
    color: #2EAFAC;
    font-size: 3em;
    z-index: 1;
    position: absolute !important;
    top: 50%;
    right: 10%;
}
#cave-overlay {
    animation: 1.2s starGlow ease-in-out infinite;
}

.tablet {
    background-color: #122;
    height: 90vh;
    display: inline-block;
    text-align: center;

    @at-root & + .tablet-frame {
        background-color: transparent;
    }
}
